<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <h2>Profile</h2>
  <body>
    <table border=1>
      <tr>
        <td>Profile Picture</td>
        <td>
          Profile Description
          <ul>
            <form class="" action="/players/add/<%= dataPlayer.id %>" method="post">
              <li><input type="text" name="Username" value="" placeholder="Username"></li>
              <li><input type="text" name="Profile" value="" placeholder="Description"></li>
              <br>
              <input type="submit" name="" value="Submit">
            </form>
          </ul>
        </td>
      </tr>
    </table>
    <br>
  </body>
</html>
