<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game List</title>
  </head>
  <body>
    <h1>GAME LIST</h1>
    <table border="1">
        <ul>
          <%dataGames.forEach((games)=>{%>
            <tr>
            <td><%=games.Game_name%></td>
            <td><%=games.Thumbnail%></td>
            <td><%=games.Description%></td>
            </tr>
          <%})%>
        </ul>
    </table>
  </body>
</html>
