<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h2>Register</h2>
    <form class="" action="/register" method="post">
      <input type="text" name="Email" value="" placeholder="Email"><br>
      <input type="password" name="Password" value="" placeholder="Password"><br>
      <input type="submit" name="" value="Sign Up">
    </form>
  </body>
</html>